/vendor/
/app/core/bitrix/
/app/core/bitrix/.htaccess
!/app/core/upload/
/app/core/upload/*
!/app/core/upload/.gitkeep
!/app/logs/
/app/logs/*
!/app/logs/.gitkeep
!/app/core/ftp_share/
/app/core/ftp_share/*
!/app/core/ftp_share/.gitkeep
.DS_Store
*.csv
*.log
*.txt
*.xml
*.dt
/.idea
/.env
/sync.sh
/backSync.sh
/app/commands/local.php
/app/commands/Local/
